<div id="admin_attach_entry" class="form">

<%= simple_form_for([:admin,@attach_entry]) do |f| %>
  <%= render "/shared/error_messages", :target => @attach_entry  %>
  <fieldset>
      <%= f.input :name, :input_html => { :class => "span7" } %>
      <%= f.input :movie_name, :input_html => { :class => "span3" } %>
      <%= f.input :format, :as => :select, :collection => AttachBase.format_collection %>
      <%= f.input :quality, :as => :radio, :collection => AttachBase.quality_collection %>
      <%= f.input :url, :as => :text, :input_html => { :style => "width:700px;height:80px;" } %>
      <%= f.input :file_size, :input_html => { :class => "span1" }, :hint => "单位 GB" %>
      <div class="form-actions">
      <%= f.submit "保存", :class => "btn btn-primary" %> or <%= link_to "取消", admin_attach_entries_path %>
    </div>
  </fieldset>
<% end %>
</div>