<%= content_for :styles do %>
<% end %>

<ul class="nav nav-tabs">
  <li<%= " class=active" if action_name == "index" %>>
    <%= link_to "列表", admin_site_configs_path %>
  </li>
  <% if action_name.in?(%w(edit update)) %>
  <li class="active"><%= link_to "修改", edit_admin_site_config_path(@site_config) %></li>
  <% end %>
  <li<%= " class=active" if action_name.in?(%w(new create)) %>><%= link_to "新建", new_admin_site_config_path %></li>
</ul>
