<%%= render 'base' %>
<div id="<%= singular_table_name %>">
  <div class="buttons">
    <%%= link_to '修改', edit_<%= singular_table_name %>_path(@<%= file_name %>), :class => "btn small success" %>
  </div>
  <hr />
  <dl class="dl-horizontal">
    <dt>字段</dt>
    <dd>值</dd>
  <%- for attribute in attributes -%>
    <dt><%%= t("mongoid.attributes.<%= file_name %>.<%= attribute.name %>") %></dt>
    <dd><%%= @<%= file_name %>.<%= attribute.name %> %></dd>
  <%- end -%>
  </dl>
</div>